.about{
    margin: 4em 0;
    padding: 0.5em;
    position: relative;
}
.about h1{
    color: #7b4a4a;
    margin: 2em;

}
.about img{
    height: auto;
    width: 100%;
    border-radius: 7%;
}
.about span{
    display: block;
    color: #4e4d4d;
    position: absolute;
    left: 115px;
}
.about .desc{
    padding: 2em;
    border-left: 4px solid #7b4a4a;
}
.about .desc h3{
    color: #7b4a4a;

}
.about .desc p{
    line-height: 2;
    color: #4e4d4d;
}
